html {
  --color-1: #2b14aa;
  --color-2: #840032;
  --color-3: #e59500;
  --color-4: #e5dada;
  --color-5: #02040f;

  --text-emphasis-color: var(--color-2);
  --link-hover-color: var(--color-1);

  --nav-gaps: 1.5vw;
  --nav-font-size: 1.5vw;
  --nav-font-size-name: 2vw;

  --project-header-font-size: 3vw;
  --project-h2-font-size: 2vw;
  --project-p-font-size: 1.5vw;

  --about-title-font-size: 4.5vw;
  --about-content-font-size: 2vw;

  --footer-font-size: 0.75vw

}

body {
  margin: 3%;
  font-family: 'Cabin', sans-serif;

}

a {
  text-decoration: none;
  color: var(--text-emphasis-color);
}

a[href^="mailto:"] {
  text-decoration: none;
  color: var(--text-emphasis-color);
}

a:visited {
  color: var(--text-emphasis-color);
}

a:hover {
  color: var(--link-hover-color);
}

.content-container{
  margin: 5% 20%;
}

::-webkit-scrollbar {
  display: none;
}

